body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 1.25rem;
    --bs-navbar-color: var(--bs-gray-700);
    --bs-navbar-hover-color: #335eea;
    --bs-navbar-disabled-color: rgba(22,28,45,.3);
    --bs-navbar-active-color: #335eea;
    --bs-navbar-brand-padding-y: 0.15rem;
    --bs-navbar-brand-margin-end: 0;
    --bs-navbar-brand-font-size: 1.5rem;
    --bs-navbar-brand-color: #335eea;
    --bs-navbar-brand-hover-color: #335eea;
    --bs-navbar-nav-link-padding-x: 1.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.1875rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23506690' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
    position: relative;
}

.icon {
    --bs-icon-size-base: 3rem;
    --bs-icon-size-xs: 1.5rem;
    --bs-icon-size-sm: 2.25rem;
    --bs-icon-size-lg: 4rem;
    --bs-icon-size-xl: 5rem;
}

.icon-circle {
    --bs-icon-circle-size: 4.1875rem;
    --bs-icon-circle-font-size: 1.875rem;
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    height: var(--bs-icon-circle-size);
    justify-content: center;
    width: var(--bs-icon-circle-size);
}

.badge {
    --bs-badge-padding-y-lg: 0.7em;
    --bs-badge-padding-x-lg: 1.15em;
}

.w-7 {
    width: 1.75rem;
}

.pb-4 {
    padding-bottom: 1!important;
}

.pt-4 {
    padding-top: 1rem!important;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pb-6 {
    padding-bottom: 2rem!important;
}

.pt-6 {
    padding-top: 2rem!important;
}

.pl-6 {
    padding-left: 2rem!important;
}

.py-6 {
    padding-bottom: 2rem!important;
    padding-top: 2rem!important;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.pb-8 {
    padding-bottom: 3rem!important;
}

.pt-8 {
    padding-top: 3rem!important;
}

.py-8 {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}

.pb-9 {
    padding-bottom: 4rem!important;
}

.pt-9 {
    padding-top: 4rem!important;
}

.py-9 {
    padding-bottom: 4rem!important;
    padding-top: 4rem!important;
}

.pt-10 {
    padding-top: 5rem!important;
}

.pb-10 {
    padding-bottom: 5rem!important;
}

.py-10 {
    padding-bottom: 5rem!important;
    padding-top: 5rem!important;
}

.pt-11 {
    padding-top: 6rem!important;
}

.pb-11 {
    padding-bottom: 6rem!important;
}

.py-11 {
    padding-bottom: 6rem!important;
    padding-top: 6rem!important;
}

.py-40 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.mb-4 {
    margin-bottom: 1!important;
}

.mt-4 {
    margin-top: 1rem!important;
}

.mb-6 {
    margin-bottom: 2rem!important;
}

.mt-6 {
    margin-top: 2rem!important;
}

.mr-6 {
    margin-right: 1.5rem;
}

.mb-8 {
    margin-bottom: 3rem!important;
}

.mt-8 {
    margin-top: 3rem!important;
}

.my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.fs-lg {
    font-size: 1.1875rem!important;
}

.fw-bold, .fw-semibold {
    font-weight: 600!important;
}

.text-body {
    color: #161c2d;
}

.text-gray-700 {
    color: var(--bs-gray-700)!important;
}

.text-light {
    color: #f9fbfd!important;
}

.navbar-brand {
    color: #335eea;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 0;
    padding: 0.15rem 0;
    white-space: nowrap;
}

.navbar-brand:focus, .navbar-brand:hover {
    color: #335eea;
    text-decoration: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.btn {
    --bs-btn-padding-x: 1.25rem;
    --bs-btn-padding-y: 0.8125rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1.0625rem;
    --bs-btn-font-weight: 600;
    --bs-btn-line-height: 1.6;
    --bs-btn-color: #161c2d;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: 0 0;
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0 rgba(var(--bs-btn-focus-shadow-rgb),.5);
    background-color: var(--bs-btn-bg);
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    box-shadow: var(--bs-btn-box-shadow);
    color: var(--bs-btn-color);
    cursor: pointer;
    display: inline-block;
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #335eea;
    --bs-btn-border-color: #335eea;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2b50c7;
    --bs-btn-hover-border-color: #294bbb;
    --bs-btn-focus-shadow-rgb: 82,118,237;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #294bbb;
    --bs-btn-active-border-color: #2647b0;
    --bs-btn-active-shadow: 0 0;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #335eea;
    --bs-btn-disabled-border-color: #335eea;
}

.btn-primary-soft {
    background-color: rgba(51,94,234,.1);
    color: #335eea;
    border: transparent !important;
}

.btn-primary-soft:active, .btn-primary-soft:focus, .btn-primary-soft:hover {
    background-color: rgba(51,94,234,.15) !important;
    color: #335eea !important;
}

.btn-light {
    --bs-btn-color: #1b2a4e;
    --bs-btn-bg: #f9fbfd;
    --bs-btn-border-color: #f9fbfd;
    --bs-btn-hover-color: #1b2a4e;
    --bs-btn-hover-bg: #d4d5d7;
    --bs-btn-hover-border-color: #c7c9ca;
    --bs-btn-focus-shadow-rgb: 216,220,227;
    --bs-btn-active-color: #1b2a4e;
    --bs-btn-active-bg: #c7c9ca;
    --bs-btn-active-border-color: #bbbcbe;
    --bs-btn-active-shadow: 0 0;
    --bs-btn-disabled-color: #1b2a4e;
    --bs-btn-disabled-bg: #f9fbfd;
    --bs-btn-disabled-border-color: #f9fbfd;
}

.bg-gradient-light-white {
    background-image: linear-gradient(to bottom,var(--bs-light) 0,var(--bs-white) 100%);
}

.bg-gray-50 {
    background-color: rgba(248, 250, 252)!important;
}

.bg-gray-200 {
    background-color: var(--bs-gray-200)!important;
}

.bg-gray-300 {
    background-color: var(--bs-gray-300)!important;
}

.bg-bs-dark {
    background-color: var(--bs-dark)!important;
}

.border-gray-50 {
    --bs-border-opacity: 1;
    border-color: rgba(226, 232, 240)!important;
}

.badge.bg-dark-soft {
    background-color: rgba(27,42,78,.1);
    color: #1b2a4e;
}

.badge.bg-primary-soft {
    background-color: rgba(51,94,234,.1);
    color: #335eea;
}

.badge.bg-success-soft {
    background-color: rgba(66,186,150,.1);
    color: #42ba96;
}

.badge-rounded-circle {
    border-radius: var(--bs-border-radius-pill);
    height: calc(1em + var(--bs-badge-padding-y)*2);
    padding-left: var(--bs-badge-padding-y);
    padding-right: var(--bs-badge-padding-y);
}

.rounded-pill {
    border-radius: var(--bs-border-radius-pill)!important;
}

.lift {
    box-shadow: 0 0 0 rgb(22 28 45 / 0%);
    transition: box-shadow .25s ease,transform .25s ease;
}

.lift:focus, .lift:hover {
    box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1)!important;
    transform: translate3d(0,-3px,0);
}

.lift-lg:focus, .lift-lg:hover {
    box-shadow: 0 2rem 5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.05)!important;
    transform: translate3d(0,-5px,0);
}

.card-btn:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.w-8 {
    width: 2rem;
}

.inset-0, .inset-y-0 {
    top: 0;
    bottom: 0;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

/* Card */

.card-border {
    position: relative;
}

@media (min-width: 768px) {
    .card-home {
        min-height: 330px;
    }
}

.flex-1 {
    flex: 1;
}


/* Open AI Resposta */

.bg-green-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(235, 243, 255/var(--tw-bg-opacity));
}

.hover\:bg-green-300\/5:hover {
    background-color: rgb(235, 243, 255);
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240/var(--tw-border-opacity));
}


.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(30 41 59/var(--tw-text-opacity));
}

.leading-7 {
    line-height: 1.75rem;
}

.font-medium {
    font-weight: 500;
}

.whitespace-pre-wrap {
    white-space: pre-wrap;
}

.cursor-pointer {
    cursor: pointer;
}

/* Dropdown */

.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: rgb(200, 200, 255);
}

@media (min-width: 768px) {
    .py-md-8 {
        padding-bottom: 3rem!important;
        padding-top: 3rem!important;
    }

    .py-md-9 {
        padding-bottom: 4rem!important;
        padding-top: 4rem!important;
    }

    .py-md-10 {
        padding-bottom: 5rem!important;
        padding-top: 5rem!important;
    }

    .pt-md-11 {
        padding-top: 6rem!important;
    }

    .py-md-11 {
        padding-bottom: 6rem!important;
        padding-top: 6rem!important;
    }

    .py-md-14 {
        padding-bottom: 12rem!important;
        padding-top: 12rem!important;
    }

    .pt-md-12 {
        padding-top: 8rem!important;
    }

    .py-md-12 {
        padding-bottom: 8rem!important;
        padding-top: 8rem!important;
    }

    .mb-md-0 {
        margin-bottom: 0 !important;
    }
    
    .mb-md-8 {
        margin-bottom: 3rem!important;
    }

    .mt-md-8 {
        margin-top: 3rem!important;
    }

    .mb-md-11 {
        margin-bottom: 6rem!important;
    }

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .mw-md-150 {
        max-width: 150%!important;
    }

    .ms-md-n3 {
        margin-left: -.75rem!important;
    }
}

@media (min-width: 992px) {
    .mb-lg-8 {
        margin-bottom: 3rem!important;
    }

    .mw-lg-130 {
        max-width: 130%!important;
    }
}