{% extends 'includes/layout.html' %}

{% block body %}

<!-- Product Page -->
<div class="container-lg">
  <div class="row">

    <!-- Left Container -->
    <div class="overflow-y-auto px-0 border border-gray-50 rounded bg-gray-50 col-12 col-md-6">
      <form class="d-flex flex-column h-full">

        <!-- Product Overview -->
        <div class="d-flex items-center px-6 py-4 bg-white border-bottom border-gray-50">
          
          <!-- Product Icon -->
          <div class="mr-6">
            <div class="d-flex items-center justify-center text-gray-500">
              <div class="icon-circle border bg-white text-white mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="gray" class="bi bi-envelope-at" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                    <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                </svg>
              </div>
            </div>
          </div>
          
          <div>
            <!-- Product Header -->
            <h4 class="text-xl font-bold text-gray-900">Email Marketing</h4>

            <!-- Product Description -->
            <p class="w-full text-sm text-gray-500">Crie um email marketing eficiente preenchendo apenas algumas informações.</p>
          </div>
        </div>

        <!-- User's Form -->
        <div class="p-3 flex-1">

          <!-- Input Container -->
          <div class="mb-6 last:mb-1">
            <div class="d-flex flex-column flex-1">
              
              <!-- Label -->
              <div class="d-flex justify-end items-center">
                <div class="flex-grow mb-1 flex items-center">
                  <label for="form-field-videoTopic"
                    class="text-sm font-medium dark:text-gray-300 text-gray-700">
                    Público Alvo
                  </label>
                </div>
              </div>
                
              <!-- Input -->
              <div class="flex items-center">
                <input id="form-field-videoTopic"
                  class="form-control"
                  placeholder="Informações como idade, gênero, localização geográfica, interesses, etc." type="text" maxlength="80" name="public-alvo" value="">
              </div>
            </div>
          </div>

          <!-- Input Container -->
          <div class="mb-6 last:mb-1">
            <div class="d-flex flex-column flex-1">
              
              <!-- Label -->
              <div class="d-flex justify-end items-center">  
                <div class="flex-grow mb-1 d-flex items-center">
                  <label for="form-field-keyword"
                    class="text-sm font-medium dark:text-gray-300 text-gray-700">
                    Objetivo
                  </label>
                </div>
              </div>

              <!-- Input -->
              <div class="d-flex items-center">
                <select class="form-control" name="objetivo">
                    <option value="promover um produto">Promover um produto</option>
                    <option value="gerar tráfego para o site">Gerar tráfego para o site</option>
                    <option value="coletar inscrições para a newsletter">Coletar inscrições para a newsletter</option>
                    <option value="fazer o público-alvo conhecer a marca">Fazer o público-alvo conhecer a marca</option>
                    <option value="Fidelizar o público-alvo">Fidelizar o público-alvo</option>
                  </select>
              </div>
            </div>
          </div>

          <!-- Input Container -->
          <div class="mb-6 last:mb-1">
            <div class="d-flex flex-column flex-1">

              <!-- Label -->
              <div class="d-flex justify-end items-center">
                <div class="flex-grow mb-1 d-flex items-center">
                  <label for="form-field-tone"
                    class="text-sm font-medium dark:text-gray-300 text-gray-700">
                      Conteúdo
                  </label>
                </div>
              </div>

              <!-- Input -->
              <div class="d-flex items-center">
                <input id="form-field-tone"
                  class="form-control"
                  placeholder="Os tópicos abordados, como novidades, ofertas especiais, dicas úteis, etc." type="text" maxlength="80" name="conteudo" value="">
              </div>
            </div>
          </div>
        </div>

        <!-- Submit -->
        <div class="d-flex items-center justify-between px-3 pb-3 border-b border-gray-200 pointer-events-auto xl:py-3 bg-gray-50 xl:bg-white xl:border-t xl:border-0 xl:border-gray-200 xl:px-6">
          <button type="submit" class="btn btn-primary btn-lg">
            <div class="loading" style="display: none;">Carregando...</div>
            <span class="button-span">Gerar conteúdo</span>
          </button>
        </div>

      </form>
    </div>

    <!-- Right Container -->
    <div class="overflow-y-auto xl:w-1/2 col-12 col-md-6">
      <div class="mb-24 lg:mb-auto">

        <!-- Navbar -->
        <div id="ai-response" class="px-3 mt-5 mt-md-0">
          <!-- <span class="badge rounded-pill bg-dark-soft">
            <span class="h5">resposta da REDATORA:</span>
          </span> -->
        </div>

        <!-- Notification -->
        <div id="vazia" class="d-flex flex-column items-center justify-center my-20 py-40">
          <div class="max-w-lg position-relative py-3 pl-6 rounded border border-gray-50">
            <div class="position-absolute inset-y-0 left-0 d-flex items-center justify-center w-8 bg-gray-50 rounded">
              <!-- <svg
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" width="24" height="24"
                class="block w-4 h-4 text-gray-500 ">
                <path fill-rule="evenodd"
                  d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z"
                  clip-rule="evenodd"></path>
              </svg> -->
            </div>
            <div class="flex-grow mx-2 pl-2 pr-4 text-left">
              <div class="mb-1 text-sm font-medium text-gray-500">Preencha os campos ao lado</div>
              <div>Obtenha os melhores resultados tentando várias combinações</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- chat bot -->

<script src="https://unpkg.com/blip-chat-widget" type="text/javascript">
</script>

<script src="https://unpkg.com/blip-chat-widget" type="text/javascript">
</script>
<script>
  (function () {
    window.onload = function () {
      new BlipChat()
        .withAppKey('cmVkYXRvcmFhaTo1NjdiMmRjYi0yMzRmLTRiZmUtOTNmMC05NzUyY2M3MzQ2YmY=')
        .withButton({ "color": "#2CC3D5", "icon": "" })
        .withCustomCommonUrl('https://chat.blip.ai/')
        .build();
    }
  })();
</script>


<!-- jquery para loading e POST -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $("form").submit(function (e) {
    // Prevent the form from being submitted
    e.preventDefault();

    // Show the loading div
    $(".button-span").hide()
    $(".loading").show();


    // Disable the submit button
    $("button[type='submit']").prop("disabled", true);

    var input = "Crie um email marketing "

    if ($("input[name='publico-alvo']").val() != "") {
      input += "para o público alvo " + $("input[name='publico-alvo']").val()
    }
    if ($("select[name='objetivo']").val() != "") {
      input += "com o objetivo de " + $("select[name='objetivo']").val()
    }
    if ($("input[name='conteudo']").val() != "") {
      input += "com as informações sobre " + $("input[name='conteudo']").val()
    }

    input += ".";

    console.log(input)

    var category = "email-marketing"

    // Submit the form using jQuery's ajax function
    $.ajax({
      type: "POST",
      url: "/airequest",
      contentType: "application/json",
      data: JSON.stringify({
        input: input,
        category: category
      }),
      success: function (response) {
        // Hide the loading div
        $(".loading").hide();
        $(".button-span").show()

        // Enable the submit button
        $("button[type='submit']").prop("disabled", false);

        // Do something with the response
        $("#ai-response").after(`

        <div class="px-6 py-3 border-bottom border-gray-200 group cursor-pointer bg-green-50 hover:bg-green-300/5">          
          <div class="w-full mt-2 mb-3 text-base font-medium leading-7 text-gray-800 whitespace-pre-wrap pre">
            ${response.trim().replace(/\n\n/g, "\n").replace(/\n/g, "<br><br>")}
          </div>
        </div>
        
        `)

        $("#vazia").remove()
        console.log(response)
        // ...
      },
      
      error: function(error) {

        // Deslogando usuário
        window.location.replace('/logout');
      }
    });
  });
</script>

{% endblock %}